
<!--Typography-->

.navbar-text {
	font-weight: bold;
	margin-right: 0;
}

.lead {
	color: #888888;
	margin-bottom: 70px;
}

<!--Logos-->

.main-logo {
	width: 124px;
	height: 34px;
	margin-top: 22px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/main-logo.png') no-repeat;
	background-size: 100%;
}

<!--Jumbotron-->

.nuggetbox {
	width: 356px;
	height: 375px;
	background: url('../img/nuggetbox.jpg') no-repeat;
}

.jumbotron {
	padding: 200px 0 140px 0;
	margin-bottom: 70px;
}

<!--Form-->

.topbuffer {
	padding: 40px;
}

<!--MediaQueries-->

@media (max-width: 767px) {
	.navbar {
		min-height: 60px;
	}