.navbar-text {
	font-weight: bold;
	margin-right: 0;
}

.lead {
	color: #888888;
	margin-bottom: 70px;
}

.main-logo {
	width: 60px;
	height: 60px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/mainlogo.png') no-repeat;
	background-size: 100%;
}

.nuggetbox {
	width: 456px;
	height: 375px;
	background: url('../img/nuggetbox.jpg') no-repeat;
}

.jumbotron {
	padding: 150px 0 140px 0;
	margin-bottom: 30px;
}


.topbuffer {
	padding: 40px;
}

